# Case Study #2
here is 1 dataset(csv) with 3 years worth of customer orders. There are 4 columns in the csv dataset: index, CUSTOMER_EMAIL(unique identifier as hash), Net_Revenue, and Year.
For each year we need the following information:
Total revenue for the current year
New Customer Revenue e.g. new customers not present in previous year only
Existing Customer Growth, Revenue of existing customers for current year â€“ Revenue of existing customers from existing year
Revenue lost from attrition
Existing Customer Revenue Current Year
Existing Customer Revenue Prior Year
Total Customers Current Year
Total Customers Previous Year
New Customers
Lost Customers

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('casestudy.csv')

df.head()

   Unnamed: 0         customer_email  net_revenue  year
0           0   nhknapwsbx@gmail.com       249.92  2015
1           1   joiuzbvcpn@gmail.com        87.61  2015
2           2   ukkjctepxt@gmail.com       168.38  2015
3           3   gykatilzrt@gmail.com        62.40  2015
4           4   mmsgsrtxah@gmail.com        43.08  2015

In [3]:
df = df.drop(columns=['Unnamed: 0'])

In [4]:
df.head()

          customer_email  net_revenue  year
0   nhknapwsbx@gmail.com       249.92  2015
1   joiuzbvcpn@gmail.com        87.61  2015
2   ukkjctepxt@gmail.com       168.38  2015
3   gykatilzrt@gmail.com        62.40  2015
4   mmsgsrtxah@gmail.com        43.08  2015

## Split by year
Split into a dataframe per year

In [7]:
df_2015 = df[df['year'] == 2015].reset_index(drop=True)
df_2016 = df[df['year'] == 2016].reset_index(drop=True)
df_2017 = df[df['year'] == 2017].reset_index(drop=True)|

In [8]:
df_2015.head()

          customer_email  net_revenue  year
0   nhknapwsbx@gmail.com       249.92  2015
1   joiuzbvcpn@gmail.com        87.61  2015
2   ukkjctepxt@gmail.com       168.38  2015
3   gykatilzrt@gmail.com        62.40  2015
4   mmsgsrtxah@gmail.com        43.08  2015

In [9]:
df_2016.head()

          customer_email  net_revenue  year
0   mwrossuukz@gmail.com       197.26  2016
1   gkwsoupawk@gmail.com        38.28  2016
2   vlyigtgfzs@gmail.com       154.57  2016
3   yfirychuhk@gmail.com       102.47  2016
4   trnzgqinuu@gmail.com        32.03  2016

In [10]:
df_2017.head()

          customer_email  net_revenue  year
0   mwrossuukz@gmail.com        96.61  2017
1  qvjfterwnk@gmail.com        176.00  2017
2   vlyigtgfzs@gmail.com        73.47  2017
3   yfirychuhk@gmail.com       138.17  2017
4   fdkiioqtli@gmail.com       156.87  2017

In [32]:
df_16_15 = pd.merge(df_2016,df_2015, on = 'customer_email')
df_16_15.shape

(59584, 6)

In [36]:
df_16_15.head()

,customer_email,net_revenue_x,year_x,isExisting,net_revenue_y,year_y
0,baiikostmd@gmail.com,142.57,2016,True,170.70,2015
1,lfeafnigbu@gmail.com,35.06,2016,True,54.99,2015
2,tqxsjlgjpi@gmail.com,33.50,2016,True,107.71,2015
3,hxshgpdxtr@gmail.com,217.35,2016,True,180.59,2015
4,zvhsssvgor@gmail.com,43.84,2016,True,21.55,2015

In [20]:
df_17_16 = pd.merge(df_2017,df_2016, on = "customer_email")
df_17_16.shape

(20959, 5)

In [35]:
df_17_16.head()

         customer_email  net_revenue_x  year_x  net_revenue_y  year_y
0  yixtbjnxce@gmail.com         133.86    2017         201.32    2016
1  gwqjyelgct@gmail.com         164.10    2017          14.62    2016
2  hxshgpdxtr@gmail.com         178.10    2017         217.35    2016
3  gipqsrvngd@gmail.com         172.90    2017         156.06    2016
4  cdvwonzpwu@gmail.com         102.46    2017         140.43    2016

In [21]:
df_17_15 = pd.merge(df_2017,df_2015, on = "customer_email")
df_17_15.shape

(6928, 5)

In [34]:
df_17_15.head()

         customer_email  net_revenue_x  year_x  net_revenue_y  year_y
0  hxshgpdxtr@gmail.com         178.10    2017         180.59    2015
1  gipqsrvngd@gmail.com         172.90    2017         122.71    2015
2  akwxtbjuki@gmail.com           8.78    2017         246.79    2015
3  tcxbzksocq@gmail.com         126.54    2017          79.72    2015
4  lbdfqdojoa@gmail.com          86.79    2017         201.26    2015

In [22]:
df_17_16_15 = pd.merge(df_2017, df_16_15, on = "customer_email")
df_17_16_15.shape

(6162, 7)

In [33]:
df_17_16_15.head()

,customer_email,net_revenue,year,net_revenue_x,year_x,net_revenue_y,year_y
0,hxshgpdxtr@gmail.com,178.10,2017,217.35,2016,180.59,2015
1,gipqsrvngd@gmail.com,172.90,2017,156.06,2016,122.71,2015
2,akwxtbjuki@gmail.com,8.78,2017,113.27,2016,246.79,2015
3,tcxbzksocq@gmail.com,126.54,2017,162.06,2016,79.72,2015
4,nfyvvsbdpy@gmail.com,209.39,2017,223.20,2016,187.65,2015

## Total Revenue for each year

In [24]:
df_2015.groupby(['year'])['net_revenue'].sum()

year
2015    29036749.19
Name: net_revenue, dtype: float64

In [25]:
df_2016.groupby(['year'])['net_revenue'].sum()

year
2016    25730943.59
Name: net_revenue, dtype: float64

In [26]:
df_2017.groupby(['year'])['net_revenue'].sum()

year
2017    31417495.03
Name: net_revenue, dtype: float64

## New Customer Revenue

In [27]:
email_2015 = df_2015['customer_email'].to_list()
email_2016 = df_2016['customer_email'].to_list()
email_2017 = df_2017['customer_email'].to_list()

In [28]:
df_2016['isExisting'] = df_2016['customer_email'].isin(email_2015)
df_2017['isExisting'] = df_2017['customer_email'].isin(email_2015 or email_2016)

In [29]:
df_2016.groupby(['isExisting'])['net_revenue'].sum()

isExisting
False    18245491.01
True      7485452.58
Name: net_revenue, dtype: float64

In [30]:
df_2017.groupby(['isExisting'])['net_revenue'].sum()

isExisting
False    30553479.90
True       864015.13
Name: net_revenue, dtype: float64

## Existing Customer Growth

In [40]:
## from 2015 - 2016
df_16_15['growth'] = df_16_15['net_revenue_x'] - df_16_15['net_revenue_y']
df_16_15['growth'].sum()

20335.459999999985

In [41]:
#from 2016 - 2017
df_17_16['growth'] = df_17_16['net_revenue_x'] - df_17_16['net_revenue_y']
df_17_16['growth'].sum()

20611.340000000004

In [42]:
#from 2015 - 2017
df_17_16_15['growth'] = df_17_16_15['net_revenue'] - df_17_16_15['net_revenue_y']
df_17_16_15['growth'].sum()

-8474.55

## Existing Customer Revenue Current Year

In [46]:
#2016
df_16_15['net_revenue_x'].sum()

7485452.58

In [47]:
#2017
df_17_16['net_revenue_x'].sum()

2641259.99

## Existing Customer Revenue Prior Year

In [48]:
#2016 (prior year = 2015)
df_16_15['net_revenue_y'].sum()

7465117.12

In [49]:
#2017 (prior year = 2016)
df_17_16['net_revenue_y'].sum()

2620648.65

## Total Customers Current Year

In [5]:
df.groupby(['year']).count()

      customer_email  net_revenue
year
2015          231294       231294
2016          204646       204646
2017          249987       249987

## Total Customers Previous Year

In [53]:
df.groupby(['year']).count()

      customer_email  net_revenue
year
2015          231294       231294
2016          204646       204646
2017          249987       249987

## New Customers

In [61]:
#number of existing customers - total number of customers

print("2016 total customers:",df_2016.shape[0],"\n2017 total customers",df_2017.shape[0])
print("2016 existing customers:",df_16_15.shape[0],"\n2017 existing customers",df_17_16.shape[0])

2016 total customers: 204646
2017 total customers 249987
2016 existing customers: 59584
2017 existing customers 20959

In [64]:
print("New Customers 2016:",204646-59584,"\nNew Customers 2017:",249987-20959)

New Customers 2016: 145062
New Customers 2017: 229028

## Lost Customers

In [67]:
#number of existing customers - number existing customers from previous year
print("2015 total customers: ",df_2015.shape[0],"\n2016 existing customers:",df_16_15.shape[0],"\n2017 existing customers",df_17_16.shape[0])

2015 total customers:  231294
2016 existing customers: 59584
2017 existing customers 20959

In [72]:
cusLost_16 = 59584-231294
cusLost_17 = 20959-59584
print('Customers lost in 2016:',cusLost_16, "\nCustomers lost in 2017:",cusLost_17 )

Customers lost in 2016: -171710
Customers lost in 2017: -38625

## Revenue lost from attrition
Attrition = the revenue lost from losing customers.

In [73]:
#calculate average revenue of existing customers
#multiply by customers lost

avg_16_15 = df_16_15['net_revenue_y'].mean()
avg_17_16 = df_17_16['net_revenue_y'].mean()

print("Revenue lost from attrition in 2016:", avg_16_15*cusLost_16,
     "\nRevenue lost from attrition in 2016:", avg_17_16*cusLost_17)

Revenue lost from attrition in 2016: -21513078.35451128
Revenue lost from attrition in 2016: -4829550.746994131